.ContactForm {
  display: flex;
  flex-direction: column;
  width: 300px;
}
.ContactForm div {
  margin-bottom: 10px;
}
.ContactForm input,
.ContactForm textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.ContactForm button {
  padding: 8px 16px;
  background-color: #958741;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.ContactForm button:hover {
  background-color: #45a049;
}
.text-2xl {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 10px;
}
.text-md {
  font-size: 1rem;
  margin-bottom: 10px;
}
